OPJWSClient/src/opjwsclient/service/OPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://opjws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://opjws/" name="OPServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://opjws/" schemaLocation="http://localhost:8080/OPJWS_war_exploded/services/OPService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCustomerOrders">
<part name="parameters" element="tns:getCustomerOrders"/>
</message>
<message name="getCustomerOrdersResponse">
<part name="parameters" element="tns:getCustomerOrdersResponse"/>
</message>
<message name="getOrderDetails">
<part name="parameters" element="tns:getOrderDetails"/>
</message>
<message name="getOrderDetailsResponse">
<part name="parameters" element="tns:getOrderDetailsResponse"/>
</message>
<message name="getProductDetail">
<part name="parameters" element="tns:getProductDetail"/>
</message>
<message name="getProductDetailResponse">
<part name="parameters" element="tns:getProductDetailResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="Purchase">
<part name="parameters" element="tns:Purchase"/>
</message>
<message name="PurchaseResponse">
<part name="parameters" element="tns:PurchaseResponse"/>
</message>
<message name="getProductIds">
<part name="parameters" element="tns:getProductIds"/>
</message>
<message name="getProductIdsResponse">
<part name="parameters" element="tns:getProductIdsResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<portType name="OPService">
<operation name="getCustomerOrders">
<input wsam:Action="http://opjws/OPService/getCustomerOrdersRequest" message="tns:getCustomerOrders"/>
<output wsam:Action="http://opjws/OPService/getCustomerOrdersResponse" message="tns:getCustomerOrdersResponse"/>
</operation>
<operation name="getOrderDetails">
<input wsam:Action="http://opjws/OPService/getOrderDetailsRequest" message="tns:getOrderDetails"/>
<output wsam:Action="http://opjws/OPService/getOrderDetailsResponse" message="tns:getOrderDetailsResponse"/>
</operation>
<operation name="getProductDetail">
<input wsam:Action="http://opjws/OPService/getProductDetailRequest" message="tns:getProductDetail"/>
<output wsam:Action="http://opjws/OPService/getProductDetailResponse" message="tns:getProductDetailResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://opjws/OPService/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://opjws/OPService/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="Purchase">
<input wsam:Action="http://opjws/OPService/PurchaseRequest" message="tns:Purchase"/>
<output wsam:Action="http://opjws/OPService/PurchaseResponse" message="tns:PurchaseResponse"/>
</operation>
<operation name="getProductIds">
<input wsam:Action="http://opjws/OPService/getProductIdsRequest" message="tns:getProductIds"/>
<output wsam:Action="http://opjws/OPService/getProductIdsResponse" message="tns:getProductIdsResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://opjws/OPService/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://opjws/OPService/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
</portType>
<binding name="OPServicePortBinding" type="tns:OPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCustomerOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Purchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OPServiceService">
<port name="OPServicePort" binding="tns:OPServicePortBinding">
<soap:address location="http://localhost:8080/OPJWS_war_exploded/services/OPService"/>
</port>
</service>
</definitions>